<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Raportowanie_DE.Properties.Settings.JPP_DEConnectionString"
            connectionString="Data Source=serwer2019;Initial Catalog=JPP_DE;User ID=JPP_pracownicy;Password=JPP_pracownicy2020"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>